{% extends 'base.html' %}

{% block content %}
  <ul>
<!--     <li>
      <a href="{% url 'simple_upload' %}">Simple Upload</a>
    </li> -->
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <p>The request is: {{ obj.request }}</p>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
        <table border="1" style="table-layout: fixed;">
          <tr>
            <td halign="center" style="word-wrap: break-word;" valign="top">
              <p>
                <a href="{{ obj.document.url }}">
                  <img src="{{ obj.document.url }}" style="width:256px">
                </a><br>
                <p>Upload</p>
              </p>
            </td>
            <td halign="center" style="word-wrap: break-word;" valign="top">
              <p>
                <a href="{{ obj.document.url }}">
                  <img src="{{ obj.document.url }}" style="width:256px">
                </a><br>
                <p>Output</p>
              </p>
            </td>
          </tr>
        </table>
      </li>
    {% endfor %}
  </ul>
{% endblock %}